* {
	background: #f1f1f1;
}

.container	{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.card {
	background: #2d7895;
	background: radial-gradient(circle, #2d7895 0%, #003245 100%) 100%;
	width: 400px;
	height: 250px;
	padding: 20px;
	border-radius: 5px;
	margin: 0 auto 0 auto;
}

.card img {
	background-color: transparent;
	width: 80px;
}

.card-header {
	background-color: transparent;
}
.card-header h1{
	background-color: transparent;
	font-family: 'Rubik', sans-serif;
	font-size: 50px;
	color: #FFF;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-top: -30px;
	margin-bottom: 0;
}

.card-header p {
	background-color: transparent;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 8px;
}

.card-body *{
	background-color: #FFF;
}

.card-body {
	background-color: #FFF;
	border-radius: 5px;
	display: flex;
}

.user-mame {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.user-name h1 {
	font-family: 'Permanent Marker', sans-serif;
	font-size: 60px;
	color: #000;
	letter-spacing: 2px;
	font-weight: 700;
	margin-left: 10px;
}

.card-body img {
	width: 120px;
	border: 5px solid #2d7895;
	border-radius: 50%;
	margin: 20px auto 20px 10px;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 60px;
}

.button-avatar h3, .button-theme h3 {
	display: flex;
	justify-content: center;
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	color: #999;
}


.button-avatar p, .button-theme p {
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	border: none;
	color: #2d7895 ;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: transparent;
	border-width: 1px;
	border-style: solid;
}

.button-avatar p:hover,
 .button-theme p:hover {
	background-color: #2d7895 ;
	color: #f1f1f1;
}

@media (max-width: 490px) {

	.card {
		width: 300px;
		height: 230px;
		padding: 20px;
		border-radius: 5px;
		margin: 0 auto 0 auto;
	}

	.card-header h1{
		margin-top: 0px;
		font-size: 40px;
	}

	.card-header p {
		margin-top: 0px;
		font-size: 16px;
	}

	.card-img {
		width: 40px;
	}
	.card-body {
		background-color: #FFF;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.user-mame {
		margin-top: -200px;
	}

	.card-body img {
		width: 70px;
		margin:  10px auto 0px 10px;
	}

	.card-body h1{
		font-size: 40px;
		margin-top: -5px;
		margin-bottom: -5px;
		background: transparent;
	}

	.buttons {
		margin-top: 10px;
	}

	.button-avatar, .button-theme {
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
	}
	.button-avatar p, .button-theme p {
		text-align: center;
		font-family: 'Rubik', sans-serif;
		font-size: 12px;
		border: none;
		color: #2d7895 ;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		background-color: transparent;
		border-width: 1px;
		border-style: solid;
		height: auto;
		width: 80px;
	}
}